<!-- <table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Strength</th>
    <th scope="col">isDCRProgreesive</th>
    <th scope="col">isDivisionExits</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let compony of companies; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>
      <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="me-2" style="width: 20px">
      {{ country.name }}
    </td>
    <td>{{ country.area | number }}</td>
    <td>{{ country.population | number }}</td>
  </tr>
  </tbody>
</table> -->
