<!-- <h1 class="text-center">{{title}}</h1>
<div class="container d-flex justify-content-around shadow-lg p-3 bg-dark">
  <button class="btn btn-lg btn-primary">
    <a class="text-white" routerLink="/forms/template-form">Template-Driven form</a></button>
  <button class="btn btn-lg btn-primary">
    <a class="text-white" routerLink="/forms/rective-form">Rective form</a></button>
  <button class="btn btn-lg btn-primary">
    <a class="text-white" routerLink="masterdata">Master-data</a></button>
</div>

<div class="container mt-3 shadow-lg">
<router-outlet> </router-outlet>
</div> -->
<app-masterdata></app-masterdata>
